build: off

init:
  - set PATH=C:/Ruby%ruby_version%/bin;%PATH%
  - set RUBYOPT=--verbose

install:
  - ps: |
      if ($env:RUBYDOWNLOAD -ne $null) {
        $(new-object net.webclient).DownloadFile("https://github.com/oneclick/rubyinstaller2/releases/download/rubyinstaller-head/rubyinstaller-head-$env:RUBYDOWNLOAD.exe", "$pwd/ruby-setup.exe")
        cmd /c ruby-setup.exe /verysilent /dir=C:/Ruby$env:ruby_version
      }
  - ruby --version
  - gem --version
  - gem install bundler --conservative
  - bundle install

test_script:
  - bundle exec rake test TESTOPTS=-v

environment:
  matrix:
    - ruby_version: "head"
      RUBYDOWNLOAD: x64
    - ruby_version: "head"
      RUBYDOWNLOAD: x86
    - ruby_version: "24-x64"
    - ruby_version: "24"

matrix:
  allow_failures:
    - ruby_version: "head"
